body{
    background-color: #5a9f68;
}

nav{
    background-color: #3a5a40;
}

nav a:link{
    display: inline-block;
    color: #bbd58e;
    text-decoration: none;
    font-weight: 700;
    padding: 15px;
    font-size: larger;
}

nav a:hover{
    color: #344e41;
    font-size: calc(100% + 10px);
    background-color: #bbd58e;
    letter-spacing: 2px;
}

nav a:active{
    background-color: #344e41;
    color: #bbd58e;
}

nav a:visited{
    display: inline-block;
    background-color: #344e41;
    color: #bbd58e;
    text-decoration: none;
    font-weight: 700;
    padding: 15px;
    font-size: larger;
}

header{
    background-image: url(IMAGES/veszprem2.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: #bbd58e;
    color: #344e41;
}

section{
    margin-left: 3%;
    margin-right: 3%;
    min-height: 200px;
}

section img{
    width: auto;
    height: 200px;
    border: #344e41 solid 5px;
}

figure{
    display: inline-block;
    margin-left: 5%;
}

p{
    width: 90%;
    font-weight: bold;
}

em{
    color: #588157;
}

li{
    font-weight: bold;
}

footer{
    background-color: #3a5a40;
    color: #bbd58e;
    text-align: center;
}

th{
    background-color: #344e41;
    color: #bbd58e;
    border: #bbd58e solid 2px;
}

td{
    border: #344e41 solid 2px;
}

